@model MusicApplication.Models.Song

@{
    ViewData["Title"] = "View";
}

<h1>Coming Soon</h1>


<hr />


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
