@model IEnumerable<MusicApplication.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h1>Artists</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-controller="Albums" asp-action="Index" asp-route-id="@item.Id">Albums</a> 
            </td>
        </tr>
}
    </tbody>
</table>
